body {
    font-family: Arial;
    background-color: #bbbbbb;
}

.product-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    width: 200px;
}

.product-card h2 {
    margin-bottom: 10px;
}

.product-card img {
    width: 110%;
    margin-bottom: 10px;
}

.product-card p {
    margin-bottom: 15px;
}

.product-card button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}

.product-card button:hover {
    background-color: #218838;
}